@import url("https://use.typekit.net/wcf4psm.css");

@font-face {
    font-family: 'Ceres';
    src: url('data:font/woff2;charset=utf-8;base64,d09GMgABAAAAAAcQAA4AAAAAFZwAAAa1AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP0ZGVE0cGh4GYACCYggEEQgKmxyTWQuBDgABNgIkA4IYBCAFhDQHgS4bVBDILgZyMj5VWlPCKS4uCFnM8d7sZxHUz/1/PSe5lJN8IAXsSCKwIlpivayB/Bd+UWFerUcF6EPvlr1QMcPaTZCZIazJENY8UDOWFUs2FZUzS7+QO/89/xKDnhk590/yfxygTGt7Ofoa29VaZjcbAFCEKpXyqagYnRiz3ZuputkJLIQBlQcCF0nqlXzhovyj8C+8+UU6+560jCicPqhdEfDjI976zuHlK/on3HRCQI1xIAlhNUGJhDKux2uYQHrB9hjw0t7BMSQQNpJOASKGB207U9eD4+wOFpPzpdiYXsdGvmsMRcsmr8UWQzae2HKIRW473rIvXutLSpMR5TY6+L+YzIcJ2fE/W0QCyI6unmmkuRLmSgpSVXa6eleMZiPmdGHU6PkLFi66y/Rfv8Ppcq9eUyBKHi8AM2cRygJysLCouKS0rLyisqq6hoeUcG0dwGVKOiBQ/K/EbI0zXgLboPgMys9BqBqz2ZQnSZThxdhpGTaNHxpTHpmuBNorS6ruYNiI7Kgps0bPHF829cg5M6f26lG75WZ0JHTy1OGLnJn1sJHMTSxeNL0omdZpyj0j9ypH5k8Vj15cp+RdCW5e5+yL77NVL3wQxf549MLU6mBObPnDPOMaoOeiLnKeezAaSz5wpDW1QGpkbed81vGvq8yOzDhLTbQUW8kDDUSgJjU2qc3BF0aMBPcOBiPtCYgmAoJKVQiVnswefr6QG1vSSVURK/qEhO01jPsARblgZ3GIo/y6aM6qyZTccfqYyc7KECxScija3TW/eNuJr3IucirEs+JgtkZzDzZZ9imRS3+fkLC9h2XjaWdTFbv2UEEW1HqKoREpeyAc3j07FXbS6JGw0D8waK6q9wnZSR94UGPPHlVFeU80RyjBI4aGhLiEjZ5Fw7njptm7W+iBkHiYEKvRytH7gRwVfBXjhAVNcmJC8u9obxXHxJZT7p/y+veTX1n/CpE2gDKpV5ZOzeObZ1aU9etHZpDaTW3nhEJU+yq9+X8lNxdh0V4UtGnrvcwcJUQNiK3Kxzg62propCaB+ClRTRDKOhrhnAQYOTi88/hKeYjqf6TkSstwqGWpQsdkKN2SiT6Dlpmcl2VUC2/mnrQ+NleWtLeXLjlT0tZWsgyHjhDOqfmY45YkobvRCRW+pePHv6maPG0q3me9ZZDw88+kH2otXEDMxrStMe2Xa6f8ef93lnqcdLAq2qLfJLYElH2zy/XeX+Zw+vWWSuFG93XE8RCHPqWKQg12fe2R7pyKQ22rE84dtx55Irfj4U7nb87IrUIdI1ZUUzcgZRHkRNxz3APZFZnpuW7hcEFcluZW0J/3V5m4nUsfatrXmRBzTRw6tPN1hn8vIyFO9JQ1l4UUaqQhDqWt1x8xH+h0fOHALznrSjQCO0avWFdpOEypEmZmNGv+YUlTU463wuX2l8NSWipq3499S4UJi1a2rTdT3FQfHO/Ws5fyrYru3el2uZ2elHTPeLd70/fedy+m/Kb/XhrITqkvdhwnnOPAUv2w2THbberaaKYbB37IIs6nD3U/5GurLPgPZbFgQ0Nw8yitUY4hlykd4q7mX7xUGY1WtWyqx1vcnHrK1dxVpiiMhRWKA0dPHfR3zIgdHeIaknIthQM/nJJSy4Uykk+OCdcmckqP6nGCg21Gr+SR7oymjX/EnuC94KhPw5xFz0wq/SQ/PbHz3cJ0XBJ28QU/QWCkdOOfJRNo37OA4PTNy93bZi36t79q3A+38r+q4/9E/JReB/QlEKTX82yM34H4iQDcfE1c4gBiM8RrgJdIvoU0NY2zdp9BHHBvwS7z+rMR2T5i/L/+aYjRyP/pf8kZHyrhiHGzmE0c24YoX4YABBvmI4LMGVqXPmHgGZ+k512fwgz/+JQGMdunY3jso10avSvVOcoBNkDkE0YxfJJhXqMF3zDJlZax1KdjYpTSLu3t+4VpdAcYBvTpt5udKEZiJ2NkhXzsGgzYYdSwPWJ2sAuLMyLW364YgH+brMak32Z1RMPAjtHhPbEd9nDciPXXtx4Adhu124DdhsX1CMDuK/dlaU923g5xffYYtoMBn7JbDqyh6WBXbugTD80/wdiV92MRaST8ar8S/gMi4aNCwvAQoy9ulwmzl9s9w7JMZv4SP+5Bhai3p9ywy0BIpXYM4zIyzWTwDEAJYwHCYFCWtASi/D9Z3Jqn8D7EcCPMMc98Cyy0yGJLLLXMciu4rbZGAZHEw8vHj6BBfUuyoEJFipUoVaZchUpVatWp16BRk2YtWrVp16FTl26qiKi11llvg4022WwLAAA=') format('woff2'),
        url('data:font/woff;charset=utf-8;base64,d09GRgABAAAAAApoAA4AAAAAFZwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAKTAAAABsAAAAcqCJK2UdERUYAAAowAAAAHAAAAB4AJwBMT1MvMgAAAbwAAABMAAAAYFfUYNZjbWFwAAACSAAAAKYAAAFil/I/YWN2dCAAAALwAAAABAAAAAQAIQJ5Z2FzcAAACigAAAAIAAAACP//AANnbHlmAAADhAAABOcAAA2cjNcUxGhlYWQAAAFEAAAANQAAADYmxGK4aGhlYQAAAXwAAAAeAAAAJATjAeRobXR4AAACCAAAAD8AAAEYZMwKnmxvY2EAAAL0AAAAjgAAAI5y+m+ubWF4cAAAAZwAAAAfAAAAIACKAEluYW1lAAAIbAAAAToAAAI0u6KWK3Bvc3QAAAmoAAAAfQAAAK4HOwdMeNpjYGRgYADi0opZVfH8Nl8Z5JlfAEUYHh3sLYDQk5QYFP8vZ3zLNAvI5WBgAokCAGrLDP8AAAB42mNgZGBgmvV/GUMU43cGIGB8y8DIgArcAHeWBMoAAHjaY2BkYGBwY5BgYGIAARDJyAASc2DQAwkAAA0HANQAeNpjYGEsY5zAwMrAwNTFtIeBgaEHQjM+YDBkZAKKMrAyM8AAIwMSCEhzTWFoYFBgqGJW+G/BEMU0iyEKpobxAeN9IKXAwAgAS+0MWHjaY8xhUGQAAkZfIJ4AZPQwaDI8BWIgzdgGpO8waIBofBimFq8aZHPKgezvaGpagGLY8HckuVb62QMAkTgxqQB42mNgYGBmgGAZBkYGEIgB8hjBfBYGByDNw8DBwARkKzDoMVgxRDFU/f8PFFVg0GEwYHBkSPz////j/zf+X/9/8f9pqAlwwMjGABdiZAISTAxoCiBWwwALKxsDOwcnFzcPLx+/gCBEUEhYRFRMXEJSSlpGVk5eQVFJWUVVTV1DU0sbIq+jq6dvYGhkbGJqZm5haWVtY2tn7+Do5OziyjAYAADD/BoYAAAAIQJ5AAAAKgAqACoAKgA+AFAAXAB6AIwApgDAANgA8gEGASABQAFYAWoBggGYAbQB0AHqAggCHgI8AlICagKIAp4CugLSAuYDAAMkAzwDVANsA4oDpAPAA+QEBgQcBDQESgRmBIIEnAS6BNAE7gUEBRwFOgVQBWwFhAWYBbIF1gXuBgYGHgY8BlYGcgaWBrgGzgAAeNrtVUtvG1UUvsd5uG1S6JA6UYWKOh63yTTyvY5vpq5jR/K9jlAqUFvlUbAEAoHECmSXFUotEQpISChA2ZC0jTJdIVtKqrh/ILuyQYmyLSKGRIhNlIgNG5hy7p1xage27DLyPDQ+33l85ztnSIiYhMDF0F3SRsKErgJh2Vq4newmVzs7fsrW2kL4SFbb1OsO9boW7oS/sjVQ77lhGv3csEw4/vvjx6G7f79nhl4nJETsp9+T26SAPk8Qwh0esfDnDF+yC+FwIVEoFMLRhLYjj8gT6NaxScpyeBjPJwV1PMKTYGpoQwJf2pPtv1dYAmWok+PkeXxK9kYMK3rBMXqc4QuDAF1M/srkn2bfa1CXzLsjGRS9H77tM7XPAbxuIvYYIT2YP2bGrYFqNc8+hLp3bp1JP672fxJtTMNK9p4F0+AYwobJm0x6yyUq0XpNMgY5SRu5agxm1OOYZ0Omg4BRwAuCvOUiFYiEGnXxEHRIktY4NuhMsMrhSxmAsrcsWKkiWXqWyn1EHo4BkdOdFse8NGwUEZLd9JYlLUE9QaXrMoaXJswxhQlKgbKuAuquZOv4X7Pv5wJerCD7Ufjx4cOXUtc+T11VBLnXLp+5mnqRtGBewDumo53rfBTMhLJgVKpCgAqYhLeokHQW6xH0k1a84jmKiEgjbrwdJqtyMAu59vuut+ZmB9NB38nthmaUIvoDVWjNtPrsxruBLTvdOQgG5gRlJpEiFANWgY2TUGzpdRch53lEW5t4g+5SLv4bTMr9T+M5qGPWTban0FYVq1Wn+qUBVO5QIeiO3McyJcVxEgrWiktpWpVkVSgka4GJbSYE2xYKJthTQqWGaRw0+FH8ct3ziGkgtahXwYreCvJaY/kEE0uwFcwGBLNxylfJIGCiRod+cqA8FJ1AEItOQf3V6NADhC1dj7IHLdx1Ke60vRYANpLulJhA5r6mwpV0o8nWULZWg2hVmSZ7KpZMWlNTVpJbivBkLJaEurqqHBsz6O8Ig5/x83QGqrn4KOS8NajzeM493E/UZUAaDspmVdJtbCh6/4ZKnFv3PzWJywdzi1g6MwcTy8XfT1NZSSVkFd6M5/aEmhhkM8gLPmjKy0jp1cUHqvfuUVPL371usoM4u8EsomzD/UEMVf3u3PT0XJGN5RMKM40H1McYGzuseW40JbdZTTNZSWuaz+k5xs0CTbuuUT8qbm4vY++NoOFndgbKdqZ1fsHyhYyOHdQyfAQdGfvlCkoll7UzLuTc++3ErxdgBnVjkEhDK5EDTSd723C6YCZjO+/EeMb+LsYXFuCLL+3M/HAMohdHuDc9Px/s1Db084uq6fwB4XqKTpQuY1EwIf7YU736eZYKbe/HVToLtgbvd0yYQZF5K6USTEBO0A23uE4C/779yWc7zBcBInDDrCi2tjYkW1xkcqPJXk2Az5kqyu8OiPQ4f4OPowgkbHmLfPxKEt4VjIl/x/L78wy4lr0RwKI3RuGVAOTPaaCFlMEjqT6HByNh2XPTU18VE/kxBrCllOCZ+UQi3xqrr1WrwZfAF+wMfgdQFJXgBm9TuYf1IpEo3WKrn96DudVbNOJ/gbQkZwQdwdyRrgqupi3vDq5kST9WJ5KuawjBrWD2gz3j4GcZbmFg3ZP6OpVL66Wlox17tGOPduzRjj3asf/fjv0HfuDbGwB42oWPMWvDMBCFnxInJUsLGTsULYUEEqOYQEpWQwKlU6Glq3GELTB2UOQh0Llzf0LHTv11/QF9ctQuHSIQ9+nu3dMdgEt8QeB0bvEQWGCEt8A9XOAjcJ+a78ARRiIOPMCVeAk8ZP6VShGN+LrvujwLjGED9/jve+A+NZ+BI4zFdeABbsRd4CHzJVI02ONIF4MCJRwkJsgxZUygeJeYkbesZ6hRoWU1YyaFZlfOHl8xQNrsj9YUpZOTfCoTlSxncmuyumrzTKba5qXJKHuii6Pe0UtjhwVTtTOu0jviI3MF/6joafnURVtlhA3n9H0+Wip0N1/MCSXWvP9dT3m/wxwr3t9tsGlqt2lsoWUSK7mWf7+TEzVfzf3o5+Z87rY/sO7nkvRWVMRdVCxrezBNLZVaxEqpM24/rCdY0gAAeNptzMtSgQEAgNGDB5ChUOxIIpdcS+1QcgmFXHrMno9/Wjsz3/YT9u/459E5w6CQsIioCzFxCZeuJKWkXbuRkZWTd6vgTtG9krIHFVU19eDb0NTS1tH15FnPi1d9g+D+5t3Ih7GJqZlPcwtLX76trG382NrZO/g9ATGnEIcAAAAAAAAB//8AAnjaY2BkYGDgAWIxIGZiYARCVyBmAfMYAAaVAHR42mNgYGBkAIJH87XdwPTB3gIIPUkJAEi8BusA') format('woff');
}

:root {
    --black: #212121;
    --white: #ffffff;
}

::selection {
    background-color: var(--black);
    color: var(--white);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    cursor: url('img/cursor.png')16 16, auto;
}

/* --------------------------------- SHORTCUTS --------------------------------- */

section {
    border-bottom: 1px solid var(--black);
}

header {
    display: flex;
    height: 25vh;
    width: 100%;
    border-bottom: 1px solid var(--black);
}

main {
    display: flex;
    height: 75vh;
    width: 100%;
}

.left {
    height: 100%;
    width: 25%;
    border-right: 1px solid var(--black);
    display: flex;
    justify-content: end;
    align-items: end;
}

.right {
    display: flex;
    height: 100%;
    width: 75%;
    display: flex;
    justify-content: end;
    align-items: end;
}

main .left, main .right {
    padding: 2rem;
}

/* --------------------------------- HOME --------------------------------- */

h1 {
    font-family: 'neue-haas-grotesk-display', sans-serif;
    font-weight: 900;
    color: var(--black);
    font-size: 7rem;
    line-height: 3.5rem;
    margin-bottom: 3rem;
    margin-right: 2rem;
}

h2 {
    font-family: 'Ceres', sans-serif;
    font-size: 11rem;
    font-weight: lighter;
    line-height: 5rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
    color: var(--black);
}

h3 {
    font-family: 'neue-haas-grotesk-display', sans-serif;
    font-weight: 800;
    color: var(--black);
    font-size: 4rem;
    line-height: 3.5rem;
    transition: all 0.3s ease;
}

p {
    font-size: 1.25rem;
    text-align: justify;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    width: 100%;
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
    font-family: 'neue-haas-grotesk-display', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    background-color: var(--black);
    color: var(--white);
    transition: all 0.3s ease;
}

button:hover {
    transform: scale(.9);
}

#home main .right {
    background-image: url(img/ascii-art.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center bottom;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right .top {
    justify-self: end;
    text-align: right;
}

.right .bottom {
    align-self: start
}

#home h3:hover {
    font-size: 5rem;
}

#home main .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#home main .left img {
    width: 100%;
}

/* --------------------------------- CONTENT --------------------------------- */

#content {
    height: 100vh;
    width: 100%;
}

.left-alt {
    width: 75vw;
    border: none;
}

.right-alt {
    width: 25vw;
    padding: 2rem;
    border-left: 1px solid var(--black);
}

.skills-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.skills-container i, .skills-container img {
    font-size: 2.5rem;
    color: var(--black);
    height: 2.5rem;
    transition: all 0.3s ease;
}

.skills-container i:hover, .skills-container img:hover {
    transform: scale(1.4);
}

#content main .left {
    background-image: url(img/ascii-art.png);
    background-size: 70%;
    transform: scale(-1,-1);
    background-repeat: no-repeat;
    background-position: center bottom;
    display: flex;
    flex-direction: column;
    align-items: top;
}

#content main .bottom {
    transform: scale(-1,-1);
    width: 100%;
}

#content main .right {
    align-items: start;
}

.project {
    border: none;
}

.project .right {
    justify-content: start;
    margin-left: 3rem;
    text-align: left;
}

.project .left h1{
    margin-right: 3rem;
}

.project h1 {
    transition: all 0.2s;
    margin-right: 1rem;
}

.project:hover {
    background: var(--black);
}

.project:hover h1 {
    color: var(--white)
}

@media (max-width: 800px) {
    header .left {
        display: none;
    }
    header, #content main {
        display: flex;
        flex-direction: column;
    }
    main {
        display: flex;
        flex-direction: column-reverse;
        height: 100%;
    }
    .left, .right {
        width: 100%;
        border: none;
    }
    h1 {
        font-size: 3rem;
        text-align: center;
        margin: 0;
        line-height: 3rem;
    }
    h3 {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    p {
        font-size: 1rem;
    }
    #home header .right {
        height: 25vh;
        padding: 2rem;
        justify-content: center;
        align-items: center;
    }
    #home main .right {
        min-height: 45vh;
        z-index: -5;
        border-bottom: 1px solid var(--black);
        padding: 1rem;
        background-size: 85%;
    }
    button {
        padding: 0.75rem;
        margin-top: 1rem;
        font-size: 1rem;
    }
    h3, button:hover {
        transform: none;
    }

    #content header {
        height: 30vh;
    }

    #content header .left, #content header .right {
        display: flex;
        text-align: center;
        justify-content: center;
    }

    #content i, #content img {
        font-size: 2rem;
        height: 2rem;
    }
    #content .left .bottom {
        text-align: center;
    }

    #content main .left {
        background-image: none;
    }
    #content main .right {
        display: none;
    }
    #content {
        height: 100%;
    }

    section .project .right {
        margin: 0;
        justify-content: end;
    }
    section .project h1 {
        line-height: 2rem;
        font-size: 3rem;
        text-align: right;
    }
    .skills-container .fa-git-alt {
        display: none;
    }
}