/* -------------------------------------------- GLOBAL STYLES ------------------------------------------------- */
:root {
    --white: #fff;
    --black: #212121;
    --grey: #e6e7eb;
    --transition: all 0.3s ease-in-out;
    --acumin: "acumin-pro-extra-condensed", sans-serif;
    --neue: "neue-haas-grotesk-text", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--neue);
    color: var(--black);
    background-color: var(--white);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

img {
    user-select: none;
    pointer-events: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button, li {
    cursor: pointer;
}

::selection {
  background: var(--black);
  color: white;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1.5s ease forwards;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* -------------------------------------------- TEXT STYLES --------------------------------------------------- */

h1, h2, h3 {
    font-family: var(--acumin);
    font-weight: 700;
}

h1 {
    position: relative;
    color: var(--black);
    font-size: 6rem;
    line-height: 5rem;
    text-align: left;
}

p {
    color: var(--black);
}

.white {
    color: var(--white);
}

/* ----------------------------------------- ORGANISING STYLES ------------------------------------------------ */

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.start {
    justify-content: start;
    align-items: start;
}

.center {
    justify-content: center;
    align-items: center;
}

.end {
    align-items: end;
}

.fixed {
    position: fixed;
    top: 0;
}

/* ---------------------------------------- HEADER & SIDEBAR --------------------------------------------------- */

header {
    right: 0;
    width: 100%;
    padding: 1rem;
    z-index: 100;
    justify-content: space-between;
}

.logo {
    background: var(--white);
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    width: 4rem;
}

.hamburger-container {
    background-color: var(--white);
    border-radius: 5px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 101;
}

.hamburger {
    width: 30px;
    height: 24px;
    position: relative;
}

.hamburger span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background-color: var(--black);
    border-radius: 2px;
    opacity: 1;
    left: 0;
}

.hamburger span:nth-child(1) {
    top: 0px;
}

.hamburger span:nth-child(2) {
    top: 10px;
}

.hamburger span:nth-child(3) {
    top: 20px;
}

.sidebar-left {
    left: -50%;
    width: 50%;
    height: 100vh;
    background-color: var(--white);
    transition: var(--transition);
    overflow: hidden;
    z-index: 98;
}

.sidebar-left img {
    max-width: 70%;
    max-height: 70%;
    object-fit: contain;
}

#sidebar-left-img {
    transition: var(--transition);
    opacity: 1;
}

#sidebar-left-img[src=""] {
    opacity: 0;
}

.sidebar-left.open {
    left: 0; 
}

.sidebar {
    right: -50%;
    width: 50%;
    height: 100vh;
    background-color: var(--white);
    transition: var(--transition);
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
    padding: 6rem 6rem 2rem;
    overflow-y: auto;
    z-index: 99;
}

.sidebar.open {
    right: 0;
}

.sidebar-tabs {
    gap: 1rem;
    margin-bottom: 2rem;
}

.tab-btn {
    font-family: var(--acumin);
    font-size: 1.5rem;
    background: none;
    border: none;
    padding: 0.5rem 1rem;
    transition: var(--transition);
    color: var(--black);
}

.tab-btn.active {
    background-color: var(--black);
    color: var(--white);
    border-radius: 20px ;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.sidebar-menu {
    list-style: none;
}

.sidebar-menu li {
    font-family: var(--acumin);
    font-size: 5rem;
    font-weight: 800;
    margin-bottom: 1rem;
    position: relative;
    overflow: hidden;
    color: var(--black);
}

.sidebar-menu li::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    color: var(--accent);
    overflow: hidden;
    pointer-events: none;
    transition: var(--transition);
}

.sidebar-menu li:hover::after {
    height: 100%;
}

/* -------------------------------------------- SECTION STYLES ------------------------------------------------- */

section {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    flex-shrink: 0;
    scroll-snap-align: start;
}

.s-padding {
    padding: 8rem 10rem;
}

#home {
    background-color: var(--white);
}

#interests h1::selection, #gallery h1::selection, #contact h1::selection {
    background-color: var(--white); 
    color: var(--black);
}

#interests h1, #gallery h1, #contact h1 {
    font-size: 10rem;
}

/* -------------------------------------------- HOME STYLES ----------------------------------------------------- */

#home h1 {
    font-size: 7vw;
}

.happy-faces-bg {
    position: absolute;
    width: 40%;
    top: 280px;
    will-change: transform;
    transition: transform 0.1s linear;
    transform-origin: center center;
    z-index: 0;
}

::-webkit-scrollbar {
  display: none; /* Chrome */
}

i {
    font-size: 5rem;
    margin: 0 1rem 0 2rem;
}

h3 {
    background-color: var(--black);
    color: var(--white);
    padding: 0.5rem 1rem;
    border-radius: 20px;
    margin: 15px;
    font-size: 2rem;
}

/* -------------------------------------------- Mobile --------------------------------------------------- */

@media (max-width: 1500px) {
    .s-padding {
        padding: 2rem;
    }
    header, .sidebar-tabs, .tab-content {
        justify-content: center;
    }
    header {
        background: var(--white);    
    }
    .sidebar.open {
        width: 100%;
    }
    .sidebar-left.open {
        display: none;
    }
    .tab-content {
        text-align: center;
        margin-top: 6rem;
    }
    .sidebar-menu li {
        font-size: 3rem;
    }
    .happy-faces-bg {
        width: 60%;
        top: 250px;
    }
    #home h1 {
        text-align: center;
        font-size: 3rem;
        line-height: normal;
    }    

    footer {
    flex-direction: column;    
    }
    footer p, footer a {
        font-size: 0.8rem;
        margin: 0;
    }
}