/* -------------------------------------------- GLOBAL STYLES ------------------------------------------------- */
:root {
    --white: #fff;
    --black: #212121;
    --grey: #e6e7eb;
    --transition: all 0.3s ease-in-out;
    --acumin: "acumin-pro-extra-condensed", sans-serif;
    --neue: "neue-haas-grotesk-text", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--neue);
    color: var(--black);
    background-color: var(--white);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

main {
    overflow-y: scroll;
    overflow-x: hidden;
}

img {
    user-select: none;
    pointer-events: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button, li {
    cursor: pointer;
}

::selection {
  background: var(--black);
  color: white;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1.5s ease forwards;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* -------------------------------------------- TEXT STYLES --------------------------------------------------- */

h1, h2, h3 {
    font-family: var(--acumin);
    font-weight: 700;
}

h1 {
    color: var(--black);
    font-size: 1.5rem;
    margin-top: 2rem;
}

h2 {
    position: relative;
    color: var(--black);
    font-size: 6rem;
    line-height: 5rem;
    text-align: left;
}

p {
    color: var(--black);
}

.white {
    color: var(--white);
}

/* ----------------------------------------- ORGANISING STYLES ------------------------------------------------ */

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.start {
    justify-content: start;
    align-items: start;
}

.center {
    justify-content: center;
    align-items: center;
}

.end {
    align-items: end;
}

.fixed {
    position: fixed;
    top: 0;
}

/* ---------------------------------------- HEADER & SIDEBAR --------------------------------------------------- */

header {
    right: 0;
    width: 100%;
    padding: 1rem;
    z-index: 100;
    justify-content: space-between;
}

.logo {
    background: var(--white);
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    height: 3.5rem;
    width: 4.5rem;
}

.hamburger-container {
    background-color: inherit;
    cursor: pointer;
    z-index: 101;
}

.sidebar-left {
    left: -50%;
    width: 50%;
    height: 100vh;
    background-color: var(--white);
    transition: var(--transition);
    overflow: hidden;
    z-index: 98;
}

.sidebar-left img {
    max-width: 70%;
    max-height: 70%;
    object-fit: contain;
}

#sidebar-left-img {
    transition: var(--transition);
    opacity: 1;
}

#sidebar-left-img[src=""] {
    opacity: 0;
}

.sidebar-left.open {
    left: 0; 
}

.sidebar {
    right: -50%;
    width: 50%;
    height: 100vh;
    background-color: var(--white);
    transition: var(--transition);
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
    padding: 6rem 6rem 2rem;
    overflow-y: auto;
    z-index: 99;
}

.sidebar.open {
    right: 0;
}

.sidebar-tabs {
    gap: 1rem;
    margin-bottom: 2rem;
}

.tab-btn {
    font-family: var(--acumin);
    font-size: 1.5rem;
    background: none;
    border: none;
    padding: 0.5rem 1rem;
    transition: var(--transition);
    color: var(--black);
}

.tab-btn.active {
    background-color: var(--black);
    color: var(--white);
    border-radius: 20px ;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.sidebar-menu {
    list-style: none;
}

.sidebar-menu li {
    font-family: var(--acumin);
    font-size: 5rem;
    font-weight: 800;
    margin-bottom: 1rem;
    position: relative;
    overflow: hidden;
    color: var(--black);
}

.sidebar-menu li::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    color: var(--accent);
    overflow: hidden;
    pointer-events: none;
    transition: var(--transition);
}

.sidebar-menu li:hover::after {
    height: 100%;
}

.scroll-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: none;
    background-color: inherit;
}

i {
    color: var(--black);
    border: none;
    border-radius: 10px;
    padding: 15px;
    font-size: 32px;
    cursor: pointer;
}

/* -------------------------------------------- {{{SECTION}}} STYLES ------------------------------------------------- */

section {
    position: relative;
    height: 100vh;
    flex: 0 0 100vw;
    scroll-snap-align: start;
}

.s-padding {
    padding: 8rem 10rem;
}

#about {
    background-color: var(--black);
}

/* -------------------------------------------- HOME STYLES ----------------------------------------------------- */

.happy-faces-bg {
    width: 25%;
    z-index: 0;
    margin-bottom: 2rem;
}

.ensaimada{
    position: absolute;
    width: 90%;
    z-index: 0;
    bottom: -30%;
    z-index: 100000;
}